<%@ CodeTemplate Src="..\CommonSqlCode.cs" Inherits="Shoucao.Templates.CommonSqlCode" Language="C#" TargetLanguage="C#" Description="The interface that each business object of the domain implements." ResponseEncoding="UTF-8"%>
<%@ CodeTemplate Language="C#" TargetLanguage="C#"  ResponseEncoding="UTF-8" Description="Generates a very simple business object." %>
<%@ Property Name="SourceColumn" Type="SchemaExplorer.ColumnSchemaCollection" Category="Context" Description="Table that the object is based on." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<% for (int i = 0; i < SourceColumn.Count; i++) { %>
		///<summary>
		///<%=SourceColumn[i].Description %>
		///</summary>
		public <%= GetCSharpVariableType(SourceColumn[i]) %> <%= SourceColumn[i].Name %>
		{
			get {return <%= GetMemberVariableName(SourceColumn[i]) %>;}
			set {<%= GetMemberVariableName(SourceColumn[i]) %> = value;}
		}
		<% if (i < SourceColumn.Count - 1) Response.Write("\r\n"); %>	
		<%}%>